<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/header.ejs') %>
  <body>
    <%- include('../includes/navbar.ejs') %>

    <div id="layoutSidenav">
      <%- include('../includes/sidebar.ejs') %>
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid px-4">
            <a
              style="height: 45px"
              class="button float-end"
              href="/admin/highscores/new"
              >Lägg till ny</a
            >
            <h1 class="mt-4">Lista över highscores</h1>

            <!-- content -->

            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Namn</th>
                  <th scope="col">Spelare</th>
                  <th scope="col">Datum</th>
                  <th scope="col">Poäng</th>
                  <th scope="col">Tabort</th>
                </tr>
              </thead>
              <tbody>
                <% gameScores.forEach(score => { %>

                <tr>
                  <td><%= score.id %></td>
                  <td><%= score.game_name %></td>
                  <td>
                    <%= score.player.firstname %> <%= score.player.surname %>
                  </td>
                  <td><%= score.date %></td>
                  <th scope="row"><%= score.points %></th>
                  <td><a href="delete/<%= score.id %>">Tabort</a></td>
                </tr>

                <% }); %>
              </tbody>
            </table>
          </div>
        </main>

        <%- include('../includes/footer.ejs') %>
      </div>
    </div>
  </body>
</html>
